.grid{
	position: relative;
}
.grid__contenedor{
	width: 100%
}
.grid__selector{
	position: absolute;
	bottom: 14px;
}
.dx-checkbox-checked{
	position: relative !important;
	bottom: inherit;
}
.dx-datagrid-pager{
	border-top: 1px solid #d3d3d3 !important;
}
.dx-header-row{
	background: #1363AE;
    color: white;
}
.table__master textarea{
	width: 100%;
	resize: none;
	min-height: 100px;
	background: white; 
} 
.table__master textarea:disabled{	
	background-color: transparent;
	border:none !important;
	min-height: 100px;
}
.table__master .table--no-border{
	border: 0
}
.table__master .table--is-notstyle{
	padding: 0 !important;
	margin: 0 !important;
}
.dx-datagrid-group-opened{
	color: #1363AE
}
.dx-column-lines.dx-selection .dx-datagrid-group-opened{
	color: #fff !important
}
.dx-datagrid-rowsview .dx-master-detail-row>.dx-datagrid-group-space,
.dx-master-detail-cell{
	background-color: rgba(19, 99, 174, 0.07) !important;
}

.dx-datagrid-group-closed:hover{
	transform:rotate(90deg);
}
.dx-datagrid-group-closed{
	transition: all .2s ease-in-out ;
}

.pr--10{
	padding-right: 10px
}
.color--blue{
	color: #1363AE
}
.color--brown{
	color: #606060
}