﻿.exp-subtitle {
    font-size: 1.4em;
}

.parentFile {
    display: inline-block;
}

.search-form {
    margin: 2em;
}

.snipRow{
    border-bottom: 1px solid #DDDDDD; 
    padding-bottom:1em;
}

#registerFile .row {
    margin-bottom: 1em;
}
