﻿.circle-active, .circle-inactive {
    border-radius: 50%;
    background-color: #3c8dbc;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 0.5em;
}

.circle-inactive {
    background-color: #dfdfdf;
}

.clock-large {
    background-color: #333;
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
}

.clock-large span {
    color: #888;
    text-shadow: 0px 0px 1px #333;
    font-size: 30px;
    position: relative;
    top: -27px;
    left: -10px;
}

.media-body {
    padding-left: 0.5em;
}

.media-left {
    background-color: #3c8dbc;
    color: white;
    min-width: 20%;
    width: 20%;
    padding: 0.5em;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    border-top-color: white;
    border-bottom: 3px solid;
    border-bottom-color: #3c8dbc;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: black;
    background-color: white;
    font-size: 1.3em;
}

.remaining-time {
    font-size: 1.3em;
    font-weight: bold;
}


#getting-started {
    text-align: center;
    font-size: 2.5em;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 180px;
    }

    .dl-horizontal dd {
        margin-left: 194px;
    }
}
