﻿.pagina-contruccion{
   text-align: left;
   margin-top: 160px; 
   background-position-x: 10px;
   margin-right:140px;
}
.pagina-contenido{
   text-align: left; 
   margin-top: 20px; 
   background-position-x: 10px; 
   margin-right:260px;
   margin-left:15px;
}
.breadcrumb{
   margin-top: 270px; 
   background-color: transparent; 
}
