﻿.img-responsive {
    width: 300px;
    margin: auto;
}

.list-group-item{
    padding: 1px 15px !important;
}

#nombres-completos {
    font-size: 28px;
}

#sede-completos {
    font-size: 20px;
}
#SEDE {
    font-size: 20px;
}

#telefonocelular-completo, telefonopnsu-completo, telefonofijo-completo, email-usuario, correopersonal-completo, dni-completos {
    font-size: 15px;
}
