﻿[rel=tooltip] {
    color: #1363AE;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    line-height: 1.65;
    border-radius: 30px;
}

.form-horizontal .radio-inline {
    padding-top: 0px;
}

.tab-pane {
    margin-top: 1.5em;
}

.newBro {
    margin-top: 0.5em;
}

@media (min-width: 768px) {
.form-inline .form-control {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
}
