﻿
.idContorno{
    position: relative;
    border-radius: 1px !important;
    background: #ffffff;
    border-top: 1px solid #ABADAF !important;
    margin-bottom: 1px !important;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}