﻿.file-attachment {
    width: 50px;
    height: 50px;
    background: rgb(234, 234, 234);
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all .3s;
    cursor: pointer;
    float: left;
    margin-top: -10px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.file-attachment:after {
    content: "ver archivo";
    position: absolute;
    bottom: 0;
    font-size: 12px;
    margin-left: -35px;
}

.file-attachment i {
    font-weight: bold;
    position: relative;
    top: 44%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.file-attachment:hover {
    background: rgb(19, 99, 174);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.list-table-menu {
    background-color: rgb(19, 99, 174) !important;
}

.list-table-menu > ul {
    padding: 0;
}

.list-table-menu > ul > li {
    list-style: none;
    display: inline-block;
    width: 100px;
    padding: 5px;
    background-color: rgb(19, 99, 174);
    font-size: 14px;
    text-align: center;
    color: white;
}

.list-node-content {
    position: relative;
    background-color: whitesmoke;
    /* margin: 0; */
    height: auto;
}

.list-content-table {
    padding: 0;
    margin-top: -10px;
    background-color: none;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.list-content-table > li {
    list-style: none;
    display: inline-block;
    width: 100px;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}

.list-content-addon {
    right: 0px;
    width: 97%;
    margin: 0 auto;
}

.list-content-addon textarea {
}

.list-content-addon label {
    font-weight: 400;
}

.list-content-addon code {
}

.list-content-addon button {
    font-size: 12px;
    margin-top: 5px;
}

.main-list-content {
    padding: 0;
    margin-bottom: 30px;
}

.modal-main {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.48);
    left: 0;
    display: none;
}

.modal-confirm-send {
    display: none;
}

.modal-confirm-send > div {
    width: 400px;
    height: 200px;
    background: white;
    margin: 300px auto;
    overflow: hidden;
    position: relative;
    border-top: 3px solid rgb(0, 158, 255);
}

.modal-confirm-send > div > img {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    width: 70%;
    left: 60px;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.64);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
}

.overlay > div {
    width: 800px;
    height: 700px;
    margin: 100px auto;
    background-color: white;
}

.periodo-box {
    width: 140px;
    height: 50px;
    float: left;
    text-align: center;
}

.preview-file {
    width: 600px;
    height: 600px;
    margin: 100px auto;
    background-color: white;
}

#confirm-ok {
    display: none;
}

#content-confirm h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 6;
}

#footer-confirm {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
}