em.helper {
    z-index: 1001;
    position: absolute;
    top: 0;
    left: auto;
    font-size: 0.90em;
    padding: 5px;
    border-radius: 4px 4px 0;
    color: #FFF;
    background: rgba(0,0,0,0.80);
    line-height: 100%;
    text-align: center;
    margin: 0 0 0 15px;
}

em.helper:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent rgba(0,0,0,0.80);
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -5px;
    left: -5px;
    top: 50%;
}

form.form-comision .form-group {
    position: relative;
}

input:invalid {
    border: 2px solid red;
}


input[type="time"]:invalid:after {
    content: "El rango de horario es de 08:45 - 17:45 ";
    position: absolute;
    font-size: 12px;
    width: 340px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


form.form-comision .form-group {
    position: relative;
}

.fecha_salida:invalid:after {
    content: "Solo puedes generar ordener con un máximo de fecha : " attr(max);
    position: absolute;
    font-size: 12px;
    width: 340px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

.total_horas:after {
    content: "El tiempo de horas máximo es 4 horas sin descuento ";
    position: absolute;
    font-size: 12px;
    width: 340px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

#confirm-ok {
    display: none;
}

#content-confirm h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 6;
}

#fecha_compensacion_steep:invalid:after {
    content: "El campo debe ser mayor a fecha de salida.";
    position: absolute;
    font-size: 12px;
    width: 250px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

#footer-confirm {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
}

#paragraph-message li label {
    font-weight: inherit;
}

#paragraph-message li label {
    font-weight: inherit;
}