form.form-comision .form-group {
    position: relative;
}

input:invalid {
    border: 2px solid red;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type="time"]:invalid:after {
    content: "El rango de horario es de 08:45 - 17:45 ";
    position: absolute;
    font-size: 12px;
    width: 340px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

.fecha_salida:invalid:after {
    content: "Solo puedes generar ordener con un máximo de fecha : " attr(max);
    position: absolute;
    font-size: 12px;
    width: 340px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

.total_horas:after {
    content: "El tiempo de horas máximo es 4 horas sin descuento ";
    position: absolute;
    font-size: 12px;
    width: 340px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

#fecha_compensacion_steep:invalid:after {
    content: "El campo debe ser mayor a fecha de salida.";
    position: absolute;
    font-size: 12px;
    width: 250px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

#content-confirm h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 6;
}

#footer-confirm {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
}

#confirm-ok {
    display: none;
}

em.helper {
    z-index: 1001;
    position: absolute;
    top: 0;
    left: auto;
    font-size: 0.90em;
    padding: 5px;
    border-radius: 4px 4px 0;
    color: #FFF;
    background: rgba(0,0,0,0.80);
    line-height: 100%;
    text-align: center;
    margin: 0 0 0 15px;
}

em.helper:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent rgba(0,0,0,0.80);
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -5px;
    left: -5px;
    top: 50%;
}

#paragraph-message li label {
    font-weight: inherit;
}
input:invalid {
    border: 2px solid red;
}

#fecha_compensacion_steep:invalid:after {
    content: "El campo debe ser mayor a fecha de salida.";
    position: absolute;
    font-size: 12px;
    width: 250px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

input[type="time"]:invalid:after {
    content: "El rango de horario es de 08:45 - 17:45 ";
    position: absolute;
    font-size: 12px;
    width: 340px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

.fecha_salida:invalid:after {
    content: "Solo puedes generar ordener con un máximo de fecha : " attr(max);
    position: absolute;
    font-size: 12px;
    width: 340px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

.total_horas:after {
    content: "El tiempo de horas máximo es 4 horas sin descuento ";
    position: absolute;
    font-size: 12px;
    width: 340px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

.modal-confirm-send {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.48);
    left: 0;
    display: none;
}

.modal-confirm-send > div {
    width: 400px;
    height: 200px;
    background: white;
    margin: 300px auto;
    overflow: hidden;
    position: relative;
    border-top: 3px solid rgb(0, 158, 255);
}

.modal-confirm-send > div > img {
     width: 100%;
     display: none;
     position: absolute;
     top: 0;
     width: 70%;
     left: 60px;
}

#content-confirm h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 6;
}

#footer-confirm {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
}

#confirm-ok {
    display: none;
}

em.helper {
    z-index: 1001;
    position: absolute;
    top: 0;
    left: auto;
    font-size: 0.90em;
    padding: 5px;
    border-radius: 4px 4px 0;
    color: #FFF;
    background: rgba(0,0,0,0.80);
    line-height: 100%;
    text-align: center;
    margin: 0 0 0 15px;
}

em.helper:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent rgba(0,0,0,0.80);
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -5px;
    left: -5px;
    top: 50%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#paragraph-message li label {
    font-weight: inherit;
}

form.form-comision .form-group {
    position: relative;
}