﻿input:invalid {
    border: 1px solid red !important;
}

.box-indicator {
    float: right;
    background-color: rgb(236, 240, 245);
    color: rgb(99, 95, 95);
    padding: 5px;
    margin-top: -10px;
}

#bs-vacaciones-fin:invalid:after {
    content: "Solo puedes generar ordener con un minimo de fecha : " attr(min);
    position: absolute;
    font-size: 12px;
    width: 340px;
    left: 15px;
    color: rgb(255, 0, 0);
    top: 26px;
}

#content-confirm h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 6;
}

#footer-confirm {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
}

#confirm-ok {
   display: none; 
}