﻿/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
modal element will be visible */
body.loading .loader {
    display: block;
}

.asuntos-particulares-1{
    height: 100px; 
    border: none;
}

.button-clean {
    margin-bottom: 0px !important;
}

.choose-option{
    padding: 0; 
    margin: 10px 0;
}


.choose-option select{
    margin: 10px 10px -10px;
} 

.content-header > .breadcrumb {
    font-size: 14px;
}

.content-wrapper, .right-side, .main-footer {
    margin-left: 285px;
}

.display-none {
    display: none !important;
}

.dropdown-menu {
    font-size: 16px;
}

.dz-error-message {
    top: 150px !important;
}

.e-actions-tramites, .e-actions-comisiones, .e-actions-compensacion, .e-actions-vacaciones{
    margin: 0px 0; 
    text-align: right;
}

.e-show-detailt e-show-row{
    padding: 0px;
}

.e-show-col{
    border: 1px solid rgb(234, 234, 234); 
    padding: 10px; 
    margin-top: 20px;
}

.form-horizontal .control-label {
    text-align: left;
}

.icon-result{
    color: #1363AE;
}

.inline-block {
    display: inline-block !important;
}

.list-table-menu > ul > li {
    text-align: left !important;
}

.list-node-content > ul.list-content-table > li {
    text-align: left !important;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loader {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../../img/ajax-loader.gif') 50% 50% no-repeat;
}

.main-sidebar, .left-side {
    padding-top: 80px;
    width: 285px;
}

.main-header .logo {
    height: 70px;
    line-height: 70px;
    width: 285px;
}

.main-header .logo .logo-lg {
    display: inline-block;
    margin-left: 0.5em;
}


.main-header > .navbar {
    min-height: 70px;
    margin-left: 285px;
}

.main-header .navbar .nav > li > a > .label {
    font-size: 12px;
    line-height: 1.1;
}

.main-header .sidebar-toggle {
    padding: 21px 15px;
    font-size: 1.3em;
}

/* Modal */
.modal-confirm-send {
    background: rgba(0, 0, 0, 0.48) none repeat scroll 0 0;
    display: none;
    height: 80%;
    left: 0;
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 9999;
}

.modal-confirm-send > div {
    background: white none repeat scroll 0 0;
    border-top: 3px solid rgb(0, 158, 255);
    height: 400px;
    margin: 300px auto;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.modal-confirm-send > div > img {
    display: none;
    left: 100px;
    position: absolute;
    top: 0;
    width: 100%;
}

.modal-confirm-send {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.48);
    left: 0;
    display: none;
}

.modal-confirm-send > div, .modal-delete-file > div {
    width: 400px;
    height: 196px;
    background: white;
    margin: 300px auto;
    overflow: hidden;
    position: relative;
    border-top: 3px solid rgb(0, 158, 255);
}

.modal-confirm-send > div > img {
    width: 100%;
    display: none;
    position:relative;
    top: 0;
    width: 60%;
    left: 60px;
}

.navbar-nav {
    margin-top: 0.4em;
}

.nav-text {
    padding-top: 18px;
    padding-bottom: 15px;
    color: white;
    font-size: 1.1em;
}

.table-results{
    text-align: center; 
    background-color: rgb(237, 237, 237); 
    padding: 5px; 
    margin-top: -10px;
}

.required-field {
    color: red;
}

.search-result-sep{
    margin-top: 0px;
    margin-bottom: 10px;
}

.skin-blue .sidebar-menu > li.header {
    font-size: 1em;
}

.treeview a, .treeview-menu a {
    font-size: 16px !important;
}

#content-confirm h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 6;
}

#footer-confirm {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
}

#frmBusca {
    float: left;
    padding-top: 0.8em;
}

#infobox3 {
    margin: auto;
    position: relative;
    top: 0px;
    height: 58px;
    width: 100%;
    text-align: center;
    background-color: #eeeeee;
}

#infobox3 p {
    line-height: 58px;
    font-size: 12px;
    text-align: center;
}

#infobox3 p a {
    margin-right: 5px;
    text-decoration: underline;
}

#overbox3 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    display: block;
}

@media (max-width: 767px) {

    .content-wrapper, .right-side, .main-footer {
        margin-left: 0px;
    }

    .content-header {
        padding: 55px 15px 0 15px;
    }

    .main-sidebar, .left-side {
        top: 40px;
        -webkit-transform: translate(-285px, 0);
        -ms-transform: translate(-285px, 0);
        -o-transform: translate(-285px, 0);
        transform: translate(-285px, 0);
    }

    .main-header .logo, .main-header .navbar {
        margin-left: 0px !important;
    }

    .main-header .logo {
        width: 100%;
    }

    .sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer {
        -webkit-transform: translate(285px, 0);
        -ms-transform: translate(285px, 0);
        -o-transform: translate(285px, 0);
        transform: translate(285px, 0);
    }

    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: black;
    }

    .skin-blue .main-header .navbar .dropdown-menu li a:hover {
        background-color: #e1e3e9;
        color: #333;
    }
}

@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav > li > a {
        line-height: 38px;
    }

    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        right: 0;
    }
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
        width: 285px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 82px;
    }

    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 82px;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 15px;
    }
}

/* ---------------------------------------  ETRA STYLES ------------------------------------- */
/* Bootstrap custom*/
.my-form-inline {
    /*margin-left: -5px !important;*/
    margin-right: -5px !important;
}

.margin-bottom {
    margin-bottom: 15px;
}
/* DropZone Styles */
div[id^='myDz'] {
    border:2px solid #3C8DBC;
    border-radius:9px; 
    background:#ECF0F5;
}

    div[id^='myDz'] .dz-preview.dz-image-preview{
        background: #ecf0f5 !important;
    }

    div[id^='myDz'] .dz-message {
        margin: 3em 0 !important;
    }

        div[id^='myDz'] .dz-message span {
            color: #3c8dbc;
            font-size: 18px;
        }

/* DevExtreme Custom Style*/

/*Alimeamiento de widget import para mi asistencia*/
#exportMenu .dx-menu-horizontal { /*ul.dx-menu-items-container*/
    text-align: right !important;
}
.navegador-Compatible{
    font-size: 13px;
    line-height: 500px;
    font-weight: bold;
}

/* Correccion de grilla -> acordeon jonatan*/

.file-attachment2 {
    background: rgb(234, 234, 234) none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 10px;
    /*margin-top: -10px;*/
    text-align: center;
    width: 50px;
}

.file-attachment2>.fa{ margin-top:18px; }
.file-attachment2>div{ margin-top:11px; }
.file-attachment2>div>span{
    /*bottom: 0;
    content: "ver archivo";*/
    color: black;
    font-size: 10px;
    margin-top: 16px;
    /*margin-left: -35px;
    position: absolute;*/
}
.file-attachment2:hover {
    background: rgb(19, 99, 174) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
}
/* Dev Extreme grid html anidado*/
.dx-master-detail-cell h3 { margin:0 !important; }
.no-border-top { border-top:0 !important;}
.no-margin-bottom { margin-bottom:0 !important;}
.font-bold {font-weight: bold !important;}
.color-red {color: #E30000 !important;}